.book-page {
  margin-top: 10px;

  img {
    height: 300px;
    margin: 10px;
    width: 200px;
  }
  
  p {
    font-size: 20px;
    margin: 5px;
  }

  a {
    color: #50C1B9;
    font-weight: bold;
    text-decoration: none;
  }
}